.fa-fw {
  width:39px;
  font-weight:600;
}

.ms-layer.ms-caption {
  background-color:rgba(17,152,169,0.8);
  height:100%;
  color:#FFFFFF;
  padding:7% 2em;
  width:350px;
}

.kahverengi_bg {
  background-color:$kahverengi;
  color:#FFFFFF;
}
.mavi_bg {
  background-color: $mavi;
  color:#FFFFFF;
}
.gri_bg {
  background-color: $gri;
  color: $koyu_gri;
}
.kirmizi_bg {
  background-color: $kirmizi;
  color:#FFFFFF;
}

.sea_green_bg {
  background-color: $sea_color;
  color:#FFFFFF;
}

.footer-text {
  line-height:15px;
  font-size:12px;
}

h5, h1, h2 {
  font-weight:600 !important;
}

button {
  font-weight:600 !important;
}

.haberler {
  p {
    strong {
      font-size:14px;
      color: $koyu_gri;
    }
    margin:0;
    padding:0;
    font-size:12px;
    text-align:center;
    &:first-child {
      margin-top:15px;
    }
  }
}

.gallery_top_margin {
  margin-top:13px;
}

#navbarSupportedContent>ul {
  margin-left:55px;
  font-size:14px;
  li {
    margin-right:20px;
    padding: 0 !important;
  }
  a {
    color: $koyu_gri;
    font-weight:600;
    &.active {
      color: #fe7800;
    }
  }
}

.navbar-nav .dropdown-menu.first {
  background-color:rgba(255,255,255,0.8);
  margin-top:30px;
  left: -20px;
  li {
    padding:0;
    margin-right:0;
      a {
        &:hover, &:active {
          background-color: $turuncu;
          color:#FFFFFF;
      }
    }
  }
}

.navbar-nav .dropdown-menu.second {
  background-color:rgba(255,255,255,0.8);
  margin-top:0px;
  li {
    padding-left:15px;
  }
}
